* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.heading1 {
  font-family: "Montserrat", sans-serif;
  color: #e8eaf6;
  text-align: left;
  background-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  width: 100vw;
  height: 90vh;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.align {
  position: relative;
  top: 15%;
  left: 10%;
  width:75vw;
  font-size: 3em;
  text-shadow: 5px 5px black;
}

.animate-main {
  position: relative;
  top: 25%;
  height: 22.5vh;
  width: 100vw;
  font-size: 12.5px;
  color: white;
  font-weight: lighter;
}

.animate1 {
  opacity: 0;
  position: relative;
  left: 25%;
  animation-name: animate1;
  animation-timing-function: linear;
  animation-duration: 7.55s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  width: 25vw;
}

.animate2 {
  width: 25vw;
  opacity: 0;
  position: relative;
  left: 45%;
  top: 35%;
  animation-name: animate2;
  animation-timing-function: linear;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.animate3 {
  width: 25vw;
  opacity: 0;
  position: relative;
  left: 75%;
  animation-name: animate3;
  animation-timing-function: linear;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}


.animate7 {
  width: 25vw;
  opacity: 0;
  position: relative;
  left: 71%;
  animation-name: animate7;
  animation-timing-function: linear;
  animation-duration: 6.5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.heading3 {
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/326424/pexels-photo-326424.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  width: 100vw;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 1);
  font-size: 1em;
}

.misc-info {
  color: rgba(255, 255, 255, 0.9);
  font-weight: lighter;
}

.container {
  display: flex;
  color: black;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  top: 25%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container div {
  width: 100%;
  height: auto;
}

.info {
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.5);
}

.me {
  font-family: "proxima-nova", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 1.75em;
}

.intro2 {
  color: rgba(0, 0, 0, 0.9);
  font-weight: lighter;
  margin: 20px;
}

.tech {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.5);
}

.misc-info {
  position: relative;
  top: 35%;
  color: rgba(0, 0, 0, 1);
}

.tech-head {
  font-size: 1.75em;
  margin-bottom: 20px;
}

@keyframes animate1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate7 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

.part3 {
  font-family: "proxima-nova", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  background-image: url("https://images.pexels.com/photos/7369/startup-photos.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.projects {
  font-family: "proxima-nova", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 35px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.project-container {
  display: flex;
  width: 100vw;
  height: auto;
  flex-flow: row wrap;
  font-family: "proxima-nova", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 30px;
}

.project-container div {
  flex: auto;
  margin: 10px;
  /* border:2px solid black; */
  width: 25%;
}

.project-container div img {
  height: 82%;
  width: 72%;
  border-radius: 20%;
}

.contact-bar {
  font-family: "proxima-nova", sans-serif;
  height: 350px;
  width: 100vw;
  background-color: #37474f;
  text-align: center;
}

.contact-container {
  position: relative;
  top: 50%;
}

.logo-align {
  display: inline-block;
  position: relative;
  top: 50%;
}

.logo-align img {
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 480px) {
  .me {
    font-size: 1.25em;
  }

  .tech-head {
    font-size: 1.25em;
  }
  .align {
    font-size: 2.5em;
    text-shadow: 4px 4px black;
  }
  .container {
    font-size: 95%;
  }
  .projects {
    font-size: 98%;
  }

  .project-container {
    justify-content: center;
    text-align: center;
    font-size: 95%;
    align-items: center;
  }
  .contact-bar {
    height: 200px;
    font-size: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .align {
    font-size: 6em;
    text-shadow: 6px 6px black;
  }
}
